<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div layout="column" ng-app="Gadget" ng-controller="AppController as app">
                    <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                  <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <div ng-controller="JiraCoreController as jira">
                       <span> render name</span>
                    </div>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon style="color: greenyellow;">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                  <md-icon>more_vert</md-icon>
                </md-button>
              </div>
            </md-toolbar>



            <div class="main-loading" layout="column" layout-align="center center" ng-if="True">
                <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
            </div>
        </div>
        <script src="static/js/app.js"></script>
    </body>
</html>