/*  Fonts
   ========================================================================== */

$font-roboto: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;



/*  Color Pressets
   ========================================================================== */

/* App colors */
$color-ice: #F1F3F7;
$color-red: #D0021B;
$color-orange: #F5A623;
$color-blue: #00BCD4;



$color-body-background: #eee;
